/* src/styles/prose-mirror.css */

.ProseMirror {
  min-height: 480px;
  max-height: 960px;
  overflow: auto;
}

/* エディタの最初や最後に h 要素が挿入された場合に余白が入らないようにする */
.ProseMirror *:first-child {
  margin-top: 0;
}
.ProseMirror *:last-child {
  margin-bottom: 0;
}

.ProseMirror p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: solid 2px;
  border-bottom-color: var(--foreground);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: solid 2px;
  border-bottom-color: var(--foreground);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror h4 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror h5 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ProseMirror h6 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
